.header__container {
    height:120vh;
    position:relative;
    background-image: url('../../../images/chairBg.png');
    background-position: cover;
 
}
.header__container::after{
    height:113vh;
    content:' ';
    position: absolute;
    top: 0;
    width: 26%;
    right: 0;
    background-color: #3A4256;
    z-index: -50;
}
